body {
    background-image: url("./assets/Imagenes/esqueletoEpico.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border-radius: 15px;
    background-color: rgb(48, 48, 48);
    color: white;
}