<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        
                        <div class="container" *ngIf="estu">
                            <div class="row">
                                <div>
                                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                        <div class="form-group">
                                            <label for="nombreE">Nombre del estudio</label>
                                            <input type="text" class="form-control" name="nombreE" id="nombreE" [(ngModel)]="estu.nombreE" required>
                                        </div>
                        
                                        <div class="form-group">
                                            <label for="fechaE">Fecha de Inicio/Final (formato: yyyy - YYYY)</label>
                                            <input type="text" class="form-control" name="fechaE" id="fechaE" [(ngModel)]="estu.fechaE" required>
                                        </div>
                        
                                        <div class="form-group">
                                            <label for="tituloE">Nombre del estudio</label>
                                            <input type="text" class="form-control" name="tituloE" id="tituloE" [(ngModel)]="estu.tituloE" required>
                                        </div>
                        
                                        <button class="btn btn-primary">Actualizar Educación</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>