<div class="container my-3 p-3">

    <h1 style="display: inline;">Habilidades</h1>

    <a routerLink="/nuevahabilidad" *ngIf="isLogged">
        <h2 style="display: inline; padding: 10px;"><i class="bi bi-plus-circle"></i></h2>
    </a>

    <ul>

        <li *ngFor="let hab of habs" class="p-1">
            <p>{{hab.habilidad}}</p>
            <a routerLink="/editarhabilidad/{{hab.id}}" *ngIf="isLogged">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a *ngIf="isLogged" (click)="delete(hab.id)">
                <i class="bi bi-trash3-fill p-3"></i>
            </a>
        </li>

    </ul>

</div>